@import url(https://www.db.onlinewebfonts.com/c/000be6a5acfcd4e4a425e9f1bb6c80f0?family=Google+Sans);

:root{
  --icon-color: #636060;
  --primary-blue: #1a73e8;
}

body {
  margin: 0;
  display: block;
	font-family: Product Sans;
  font-weight: 100;
  font-size: 12px;
  width: 100%;
}

#nav-bar{
  display: flex;
  align-items: center;
}

.icon {
  fill: var(--icon-color);
  width: 24px;
  height: 24px;
}

#hamburger-icon {
  fill: #423f3f; 
}

#profile-icon {
  width: 32px;
  height: 32px;
}

.background-primary-blue {
  background-color: var(--primary-blue);
}

.text-white {
  color: white;
}

.text-white a{
  color: white;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}

#promo-bar {
  font-size: 1em;
  text-align: center;
  padding: 1em 1em 1.2em 1em;
}

@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}
